body{
    background: url(https://hips.hearstapps.com/hmg-prod/images/champagne-beach-espiritu-santo-island-vanuatu-royalty-free-image-1655672510.jpg?crop=1.00xw:0.755xh;0,0.173xh&resize=1200:*);
    background-repeat: no-repeat;
}

div{
    background-color: yellow;
    border-color: blue;
    border-width: 2px;
    border-style: dotted;
}

p{
    color: red;
}

span{
    background-color: green;
    color: white;
}