h1{
    text-align: center;
    font-size: 1.5em;
    font-family: 'Dancing Script', cursive;
}

table{
    /* margin: 60px 100px 100px 430px; */
    /* border-collapse: separate; */
    margin: auto;
    border-spacing: 25px;
}

#head1{
    background-color: #FFA69E;
    padding: 160px 70px;
}

#head2{
    background-color: #FAF3DD;
    padding: 160px 70px;
}

#head3{
    background-color: #B8F2E6;
    padding: 160px 70px;
}

#head4{
    background-color: #AED9E0;
    padding: 160px 70px;
}

#head5{
    background-color: #5E6472;
    padding: 160px 70px;
}